{% load cms_tags staticfiles sekizai_tags %}
<section class='count-down-{{ instance.id }}'>
	{% for child in instance.child_plugin_instances %} {% render_plugin child %} {% endfor %}
	<p>The count down is on......</p>
	<p id='count-down-time-{{ instance.id }}'></p>
</section>

{% block "css" %}
<style type="text/css">
	.count-down-{{ instance.id }} {
		display: block;
		width: 100%;
		background: {{ instance.background_color }};
		padding: 50px 0;
		font-family: 'Josefin Slab', serif;
		text-align: center;
	}

	p#count-down-time-{{ instance.id }} {
		display: block;
		text-align: center;
		font-weight: bold;
		font-family: 'Josefin Slab', serif;
		font-size: 3vw;
		letter-spacing: 1.5px;
	}

</style>
{% endblock %}

{% block "js" %}
<script type="text/javascript">
	// get the end date
	var date = '{{ instance.date | date }}';
	console.log(date);
	var countDownDate = new Date(date);
	console.log(countDownDate);
	var result_id = 'count-down-time-' + '{{ instance.id }}';

	// get today's date
	var x = setInterval(function () {
		// get todays date and time
		var now = new Date().getTime()

		// find the distance between now and the count down date
		var distance = countDownDate - now;

		// Time calculation for days, hours, minutes, and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// display the result with id='count-down-time-{{instance.id}}'
		document.getElementById(result_id).innerHTML = days + "d " + hours + 'h ' + minutes + 'm ' + seconds + "s ";

		// if countdown is finished, write some text
		if (distance < 0) {
			clearInterval(x);
			document.getElementById(result_id).innerHTML = 'EXPIRED';
		}
	}, 1000);

</script>
{% endblock %}