{% load staticfiles cms_tags %}
<div class='participant'>
    <img src={{ instance.image.url }} />
    <div class='participant-overlay' onclick="showBio('{{ instance.id}}')">
        <span class='title'>{{ instance.role }}</span>
        <span class='participant-name'>{{ instance.name}}</span>
    </div>

    <div id='participant-modal-{{instance.id}}' hidden="true">
        <div class='participant-content'>
            <img src={{ instance.image.url }} />
            <div class='content'>
                <h2>{{ instance.name }}</h2>
                <p style='text-transform: capitalize;'><b>{{ instance.role }}</b></p>
                {{ instance.bio }}
            </div>
            <div style='clear: both'></div>
        </div>
        <div style='clear: both'></div>
    </div>
</div>

{% block css %}
<style type='text/css'>
    .participant-content {
        width: 100%;
        display: block;
        padding-bottom: 20px;
    }

    .participant-content img {
        float: left;
        width: 40%;
        height: auto;
    }

    .participant-content .content {
        float: right;
        width: 55%;
    }

    .participant {
        display: inline-block;
        width: 33%;
        padding: 10px;
        position: relative;
    }

    .participant img {
        width: 100%;
        height: 100%;
    }

    .titled-paragraph-{{ instance.id }} {
        display: block;
        width: 100%;
        padding: 0 20px;
        font-family: 'Josefin Slab', serif;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .titled-paragraph-{{ instance.id }} .titled-content {
        display: block;
        margin-bottom: 20px;
        font-family: 'Josefin Slab', serif;
    }

    .participant-overlay {
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background: white;
        opacity: 0;
        transition: .2s linear;
        visibility: hidden;
        z-index: 100000;
        text-transform: uppercase;
        font-family: 'Josefin Slab', serif;
        text-align: center;
    }

    .participant:hover {
        cursor: pointer;
    }

    .participant:hover img {
        z-index: 1;
    }

    .participant:hover .participant-overlay {
        visibility: visible;
        opacity: .6;
    }

    .participant-overlay span {
        display: block;
        font-weight: bolder;
        font-size: 120%;
    }

    .participant-overlay span:first-child {
        margin-top: 30%;
    }

    @media screen and (max-width: 980px) {
        .participant {
            width: 49%;
        }
    }

    @media screen and (max-width: 500px) {
        .participant {
            width: 100%;
            display: block;
        }
    }
    
</style>
{% endblock %}

{% block "js" %}
<script type="text/javascript">
    function showBio(id) {
        var modal = document.getElementById('story-panel');
        modal.style.display = 'block';

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = 'none';
        }

        // set the text of the modal to the message of the instance
        var p_text = document.getElementById('modal-text');
        var story = document.getElementById('participant-modal-' + id);
        var author_div = document.getElementById('author');
        $(author_div).text('');
        $(p_text).html(story.innerHTML);

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }   

</script>

{% endblock %}