{% load cms_tags staticfiles sekizai_tags mathfilters %}
<section class='party-block-container'>
    {% for slide in instance.child_plugin_instances %} {% render_plugin slide %} {% endfor %}
</section>


{% block "css" %}
	<style type="text/css">
		.party-block-container {
			display: block;
			width: 100%;
		}
	</style>

{% endblock %}


{% block "js" %}
	<script type="text/javascript">
		

	</script>

{% endblock %}
