{% load cms_tags staticfiles sekizai_tags %}
<section class='section-container-{{ instance.id }}'>
	{% for slide in instance.child_plugin_instances %}
		{% render_plugin slide %}
	{% endfor %}
</section>

{% block "css" %}
<style type="text/css">
	.section-container-{{ instance.id }} {
		width: 100%;
		display: block;
		min-height: 100px;
		padding: 50px 0;
		background-color: {{ instance.background_color }};
	}

</style>
{% endblock %}