{% load staticfiles cms_tags %}
<div class='titled-paragraph-{{ instance.id }}'>
    <h1 class='title'>{{ instance.title }}</h1>
    <div class='titled-content'>{{ instance.content }}</div>
</div>

{% block css %}
<style type='text/css'>
    .titled-paragraph-{{ instance.id }} {
        display: block;
        width: 100%;
        padding: 0 20px;
        font-family: 'Josefin Slab', serif;
    }

    .titled-paragraph-{{ instance.id }} .titled-content {
        display: block;
        margin-bottom: 20px;
        font-family: 'Josefin Slab', serif;
    }
    
</style>
{% endblock %}