{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='story-box'>
    <h2>From {{ instance.author }}</h2>
    <div>
	    <span>
	    	{{ instance.get_short_message | safe }}
	    </span>
	</div>
    <div>
    	<a onclick="showFullStory({{instance.id}}, '{{instance.author}}')">read more</a>
    </div>
    <div id='fullstory-{{ instance.id }}' hidden="true">
    	{{ instance.message | safe }}
    </div>
</div>

{% block "css" %}
<style type="text/css">
    .story-box {
        display: inline-block;
        width: 49%;
        border: none;
        padding: 20px;
        vertical-align: top;
        font-family: 'Josefin Slab', serif;
        transition: .3s linear;
    }

    .story-box a {
    	margin: 20px 0;
    	display: block;
    	width: auto;
    	height: auto;
    	text-align: center;
    	padding: 10px;
    	text-transform: uppercase;
    	background: #545658;
    	color: white;
    	text-decoration: none;
    }

    .story-box span {
    	overflow: hidden;
    	text-overflow: ellipsis;
    	display: block;
    	height: 150px;
    }

    .story-box a:hover {
    	cursor: pointer;
    	opacity: .8;
    }

    .story-box h2 {
    	font-size: 3vw;
    }

    @media screen and (max-width: 670px) {
    	.story-box {
    		display: block;
    		width: 100%;
    	}

    	.story-box h2 {
	    	font-size: 30px;
	    }
    }
</style>
{% endblock %}

{% block "js" %}
	<script type="text/javascript">
	function showFullStory(id, author) {
		var modal = document.getElementById('story-panel');
		modal.style.display = 'block';

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];
		span.onclick = function() {
			modal.style.display = 'none';
		}

		// set the text of the modal to the message of the instance
		var p_text = document.getElementById('modal-text');
		var story = document.getElementById('fullstory-' + id);
		var author_div = document.getElementById('author');
		$(author_div).text('From ' + author);
		$(p_text).html(story.innerHTML);

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}
	}
	</script>
{% endblock %}