{% load cms_tags staticfiles sekizai_tags %}
<section class='story-container-{{ instance.id }}'>
	{% for slide in instance.child_plugin_instances %}
		{% render_plugin slide %}
	{% endfor %}
</section>

{% block "css" %}
<style type="text/css">
	.story-container-{{ instance.id }} {
		width: 100%;
		display: block;
	}

</style>
{% endblock %}