{% load staticfiles cms_tags %}
<div class='header-container-{{ instance.id }}'>
    <div class='couple-names-{{ instance.id }}'>
        {{ instance.husband }} <span class='plus'>+</span> {{ instance.wife }}
    </div>
    <p>celebrate with us</p>
    <span class='data'>{{ instance.celebration_data | date:'F d, Y'}}</span>
</div>

{% block css %}
<style type='text/css'>
    .header-container-{{ instance.id }}{
        height: auto;
        padding: 25px 0;
        border-bottom: 3px solid white;
        text-align: center;
    }

    .couple-names-{{ instance.id }} {
        width: 100%;
        height: auto;
        padding: auto;
        vertical-align: middle;
        text-align: center;
        font-size: 5vw;
        font-weight: lighter;
        /*text-transform: capitalize;*/
        font-family: 'Tangerine', cursive;
        font-style: italic;
    }

    .header-container-{{ instance.id }} > p {
        text-transform: uppercase;
        font-size: 15px;
        color: #c2c2c2;
        font-family: 'Josefin Slab', serif;
        margin-bottom: 0;
    }

    .header-container-{{ instance.id }} > span {
        letter-spacing: .05em;
        margin: 0;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Josefin Slab', serif;
    }
</style>
{% endblock %}