{% load cms_tags staticfiles sekizai_tags %}
<section class='section-title-{{ instance.id }}'>
	<div class='container-{{instance.id}}'>
		<h2>{{ instance.title }}</h2>
	</div>
</section>

{% block "css" %}
<style type="text/css">
	.section-title-{{ instance.id }} h2 {
		display: inline-block;
		padding: 20px;
		position: relative;
		text-transform: uppercase;
		font-family: 'Josefin Slab', serif;
	}

	.section-title-{{ instance.id }} h2:before,
	.section-title-{{ instance.id }} h2:after {
		background-color: {{ instance.line_color }};
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		top: 50%;
		width: 200%;
	}

	.section-title-{{ instance.id }} h2:before {
		right: 100%;
	}

	.section-title-{{ instance.id }} h2:after {
		left: 100%;
	}

	.section-title-{{ instance.id }} .container-{{instance.id}} {
		overflow: hidden;
		text-align: center;
	}

</style>
{% endblock %}