{% load staticfiles i18n cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html lang='en'>

<head>
    <title>Gallery | {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Josefin+Slab|Libre+Baskerville|Open+Sans+Condensed:300|Playfair+Display|Tangerine:700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    {% render_block "css" %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='story-panel' class='modal'>
        <div class='modal-content'>
            <div class='modal-header'>
                <p id='author'>From</p>
                <span class='close'>&times;</span>
            </div>
            <div id='modal-text'></div>
        </div>
    </div>
    {% cms_toolbar %}
    <aside class='sidebar'>
        Sidebar
    </aside>
    <div class="main-container">
        {% block content %}Hermann{% endblock content %}
    </div>
    {% render_block "js" %}
</body>

</html>