html {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100%;
    background: #cce6ff;
}

aside {
    width: 200px;
    height: 100%;
    min-height: 100%;
    position: relative;
    float: left;
    transition: .2s linear;
    display: none;
}

.main-container {
    width: 100%;
    min-height: 100%;
    float: right;
    border-left: 1px solid #bbd7da;
    transition: .2s linear;
}


/* SLIDER  */

.slide-item {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 500ms, opacity 500ms linear;
    -moz-transition: visibility 0s 500ms, opacity 500ms linear;
    -ms-transition: visibility 0s 500ms, opacity 500ms linear;
    -o-transition: visibility 0s 500ms, opacity 500ms linear;
    transition: visibility 0s 500ms, opacity 500ms linear;
}

.slide-item img {
    width: 100%;
    height: auto;
}

.slide-item.active {
    opacity: 1;
    position: relative;
    visibility: visible;
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -ms-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

#story-panel {
    z-index: 2000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    height: 40px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    background-color: #cce6ff;
    text-align: center;
    padding: 0;
}

.modal-header p {
    height: 100%;
    margin-bottom: 0;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

#modal-text {
    display: block;
    padding: 0 20px;
    font-family: 'Josefin Slab', serif;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    aside {
        width: 0;
        overflow: hidden
    }
    .main-container {
        width: 100%;
    }
}